@use '../base/variables' as v;
@use '../base/mixins' as m;

.botones-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    cursor: pointer;
    transition: .5s all ease-in-out;

    @media (max-width: 768px) {
      margin-top: 5rem; // Reduce el margen superior en pantallas más pequeñas
    }
}

.botones-img {
    max-width: 100%;
    height: auto; // Mantiene la relación de aspecto
    width: 40rem; // Ancho específico para pantallas grandes

    @media (max-width: 1024px) {
      width: 30rem; // Ancho específico para tabletas
    }

    @media (max-width: 768px) {
      width: 20rem; // Ancho específico para móviles
    }

    @media (max-width: 576px) {
      width: 15rem; // Ancho específico para móviles más pequeños
    }
}


///////////////////////////////////////dialog///////////////////
.custom-dialog-title {
  font-size: 2rem;
  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.div-custom-input-form {
  label {
    font-size: 1rem;
    @media (max-width: 576px) {
      font-size: 0.9rem;
    }
  }
}

.custom-select {
  font-size: 1rem;
  padding: 0.5rem;
  @media (max-width: 576px) {
    font-size: 0.9rem;
    padding: 0.4rem;
  }
}

.v-file-input {
  font-size: 1rem;
  @media (max-width: 576px) {
    font-size: 0.9rem;
  }
}

.v-card {
  padding: 2rem;
  @media (max-width: 768px) {
    padding: 1.5rem;
  }
  @media (max-width: 576px) {
    padding: 1rem;
  }
}

// .container-fluid {
//   max-width: 100% !important;
//   overflow-x: auto;
// }
