@use '../base/variables' as v;
@use '../base/mixins' as m;

.div-buscador-principal {
    display: flex;
    width: 90%;
    @media(max-width: v.$telefono){
        width: 100%;
    }
}

.first-div-buscador-principal {
    position: relative;
    background-color: #8c92bc;
    height: 4rem;
    width: 5%;
    @media (max-width: v.$tablet) {
        width: 10%;
    }
    @media (max-width: v.$tablet) {
        width: 10%;
    }
}

.first-div-buscador-principal img {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 10%;
    left: 12%;
    @media (max-width: v.$tablet) {
        height: 2rem;
        width: 2rem;
        top: 25%;
        left: 25%;
    }
}

.second-div-buscador-principal { 
    width: 92%;
}

.div-buscador-home {
    display: flex;
    width: 60%;
    @media(max-width: v.$telefono){
        width: 100%;
    }
}

.first-div-buscador-home {
    position: relative;
    background-color: #8c92bc;
    height: 4rem;
    width: 8%;
    @media (max-width: v.$tablet) {
        width: 10%;
    }
    @media (max-width: v.$telefono) {
        width: 6%;
    }
    
}

.first-div-buscador-home img {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 10%;
    left: 15%;
    @media (max-width: v.$tablet) {
        height: 2rem;
        width: 2rem;
        top: 25%;
    }
}

.second-div-buscador-home { 
    width: 92%;
    @media(max-width: v.$telefono){
        width: 100%;
    }
}

/** INICIO BOTONES NUEVA ACTIVIDAD Y ESTATUS */
.div-card-nueva-actividad {
    display: flex;
    justify-content: flex-end;
    // transition: .5s all ease-in-out;
    @media(max-width: v.$tablet) {
        justify-content: flex-start;
    }
    @media(max-width: v.$telefono){
        padding-top: 2rem;
    }
}

// .div-card-nueva-actividad:hover {
//     cursor: pointer;
//     transform: scale(1.1);
// }

.card-nueva-actividad {
    background-color: rgb(196, 244, 93);
    width: 95%;
    height: 4.5rem;

    display: flex;
    align-items: center;

    transition: .5s all ease-in-out;

    border-right: 1rem solid #8c92bc;
    font-weight: 700;

    text-transform: uppercase;

    border-left: 1rem solid rgb(106, 115, 160);
    @media(max-width: v.$tablet) {
        width: 100%;
    }    
}

.card-nueva-actividad:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-nueva-actividad p {
    // color: #8c92bc;
    margin: 0;
    font-weight: 700;
}

.signo-nueva-actividad{
    background-color: rgb(106, 115, 160);
    padding: 0%;
    border: 0px;
    color: white !important;
    font-size: 1.8em;
    height: 100% !important;
    padding-right: 0.5em;
}

.text-nueva-actividad {
    color: #8c92bc;
    text-align: center;
    width: 100%;
    @media(max-width: v.$telefono) {
        font-size: 2.5rem;
    }
}
/** FIN BOTONES NUEVA ACTIVIDAD Y ESTATUS */

/** INICIO CARDS PRIORIDAD Y ESTATUS */
.div-card-prioridad {
    display: flex;
    justify-content: center;
}

.card-prioridad {
    background-color: #8c92bc;
    width: 90%;
    min-height: 16rem;
    // transition: .5s all ease-in-out;
}

.card-prioridad-selected {
    border: .2rem solid black;
}

.card-prioridad-unselected {
    border: none;
}

.card-prioridad:hover {
    cursor: pointer;
    // transform: scale(1.1);
}

.card-prioridad-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}

.card-prioridad-contador p {
    color: v.$blanco;
    font-weight: 700;
    font-size: 5rem;
}

.card-prioridad-texto {
    min-height: 30%;
}

.card-prioridad-texto p {
    text-align: center;
    color: v.$blanco;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.card-alta-contador-color {
    background-color: #e72727;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.card-alta-texto-color {
    background-color: #812020;
}

.card-media-contador-color {
    background-color: #cccf08;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.card-media-texto-color {
    background-color: #8f9336;
}

.card-baja-contador-color {
    background-color: #32b51e;
    border-bottom: white;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.card-baja-texto-color {
    background-color: #45873d;
}

.div-principal-cards-estatus {
    min-height: 16rem;
}

.div-cards-estatus {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: v.$tablet){
        justify-content: space-around;
    }
}


.div-card-estatus-actividad {
    display: flex;
    justify-content: flex-end;
    @media(max-width: v.$tablet){
       justify-content: flex-start;
    }
    @media(max-width: v.$telefono){
        padding-top: 2rem;
        justify-content: center;
    }
    
    // transition: .5s all ease-in-out;
}

.div-card-estatus-actividad:hover {
    cursor: pointer;
    // transform: scale(1.1);
}

.card-estatus-actividad-atendida{
    background-color: rgb(215, 215, 215);
    width: 80%;
    height: 4.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 25%);

    display: flex;
    // display: inline-flex;
    // align-items: center;
    // justify-content: center;

    transition: .5s all ease-in-out;
    // border-left: 1rem solid #45873d;

    text-transform: uppercase;
    font-weight: 700;
    @media(max-width: v.$tablet){
        font-weight: 600;
        font-size: 1.3rem;
    }
    @media(max-width: v.$telefono){
        font-weight: 800;
        font-size: 2.5rem;
        padding-top: 1rem;
    }
}

.card-cont-estatus {
    margin: 0;
    padding-top: .8rem;
    padding-bottom: .8rem;
    height: 100%;
    width: 20%;
    text-align: center;
    color: v.$blanco;
}

.blanco{
    color:rgb(255, 255, 255);
}

.card-icon-estatus-atendida{
    background-color:#45873d;
    box-shadow: inset -0.5rem -0.5rem 1rem rgba(46, 46, 46, 0.38);
    margin-bottom: 0;
    margin-right: 20px;
    min-width: 40px;
    text-align: center;
    font-size: 1.3em;
}
.atendido{
    background-color:#45873d;
}

.deshabilitado{
    background-color: transparent !important;
    border: black 0.05em solid;
    box-shadow: none !important;
}

.card-icon-estatus-en-proceso{
    background-color:#8f9336;
    box-shadow: inset -0.5rem -0.5rem 1rem rgba(46, 46, 46, 0.38);
    margin-bottom: 0;
    margin-right: 20px;
    min-width: 40px;
    text-align: center;
    font-size: 1.3em;
}

.card-icon-estatus-sin-atender{
    background-color:#812020;
    box-shadow: inset -0.5rem -0.5rem 1rem rgba(46, 46, 46, 0.38);
    margin-bottom: 0;
    margin-right: 20px;
    min-width: 40px;
    text-align: center;
    font-size: 1.3em;
}

.card-estatus-actividad-en-proceso{
    background-color: rgb(215, 215, 215);
    width: 80%;
    height: 4.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 25%);
    

    display: flex;
    // align-items: center;
    // justify-content: center;

    transition: .5s all ease-in-out;
    // border-left: 1rem solid #8f9336;

    text-transform: uppercase;
    font-weight: 700;

    @media(max-width: v.$tablet){
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
      }
    @media(max-width: v.$telefono){
        font-weight: 800;
        font-size: 2.5rem;
        padding-top: 1rem;
    }

}

.card-cont-estatus-atendido {
    background-color: #45873d;
}

.card-cont-estatus-en-proceso {
    background-color: #8f9336;
}

.card-cont-estatus-sin-atender {
    background-color: #812020;
}

.card-estatus-actividad-sin-atender{
    background-color: rgb(215, 215, 215);
    width: 80%;
    height: 4.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 25%);

    display: flex;
    // align-items: center;
    // justify-content: center;

    transition: .5s all ease-in-out;
    // border-left: 1rem solid #812020;

    text-transform: uppercase;
    font-weight: 700;
    @media(max-width: v.$tablet){
        font-weight: 600;
        font-size: 1.3rem;
        text-align: center;
    }
    @media(max-width: v.$telefono){
        font-weight: 800;
        font-size: 2.5rem;
        padding-top: 1rem;
    }

}

.card-estatus-actividad {
    background-color: rgb(215, 215, 215);
    width: 80%;
    height: 4.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .5s all ease-in-out;
    border-left: 1rem solid #45873d;

}



.card-estatus-actividad p {
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.text-actividad-atendida {
    color: #45873d;
    width: 80%;
    text-align: center;
    margin: auto;
}

.text-actividad-en-proceso {
    color: #8f9336;
    width: 80%;
    text-align: center;
    margin: auto;
}

.text-actividad-sin-atender {
    color: #812020;
    width: 80%;
    text-align: center;
    margin: auto;
}

.card-actividades-titulo {
    background-color: v.$morado_m2;
    width: 100%;

    border-bottom: .3rem solid v.$verde_v2;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}

.card-actividades-titulo p {
    text-align: center;
    color: v.$blanco;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: .5rem;
}

.card-actividades {
    width: 100%;

    padding: .5rem 0;
}

.card-actividad {
    margin-bottom: 1.5rem;
}

.card-actividad:hover {
    cursor: pointer;
}

.card-actividad-first-row {
    width: 100%;
    display: inline-flex;
    
    min-height: 7rem;
}

.card-actividad-nombre {
    width: 85%;
    
    background-color: #c8c8c8;

    display: flex;
    align-items: center;
    margin-right: .5rem;
}

.card-actividad-nombre p {
    margin: 0;
    padding: .5rem 1rem;
    font-weight: 500;
}

.card-actividad-prioridad {
    width: 15%;
}

.card-actividad-prioridad p {
    margin: 0;
    padding: .5rem 1rem;
}

.prioridad-label-1-alta {
    background-color: #e72727;
}

.prioridad-label-2-alta {
    background-color: #812020;
}

.prioridad-label-1-media {
    background-color: #cccf08;
}

.prioridad-label-2-media {
    background-color: #8f9336;
}

.prioridad-label-1-baja {
    background-color: #32b51e;
}

.prioridad-label-2-baja {
    background-color: #45873d;
}

.card-actividad-prioridad-label-1 {
    // background-color: #32b51e;
    // height: 40%;
    margin-bottom: .5rem;
}

.card-actividad-prioridad-label-1 p {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: v.$blanco;
    @media (max-width: v.$telefono) {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.card-actividad-prioridad-label-2 p {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: v.$blanco;
    font-weight: 700;
    @media (max-width: v.$telefono) {
        font-size: 2.2rem;
        font-weight: 600;
    }
}

.card-actividad-second-row {
    width: 100%;
    display: inline-flex;

    min-height: 12rem;
}

.card-actividad-responsable {
    width: 42.5%;

    background-color: #e8e8e8;
    margin: .5rem .25rem .5rem 0;
}

.card-actividad-responsable p {
    margin: 0;
    padding: .5rem 1rem;
    font-weight: 500;
}

.card-actividad-plan-accion {
    width: 42.5%;

    background-color: #e8e8e8;
    margin: .5rem .5rem .5rem .25rem;
}

.card-actividad-plan-accion p {
    margin: 0;
    padding: .5rem 1rem;
    font-weight: 500;
}

.card-actividad-estatus {
    width: 15%;
    
    margin-top: .5rem;
    margin-bottom: .5rem;

    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    background-color: #e8e8e8;
}

.card-actividad-estatus-border-atendido {
    border-bottom: .4rem solid #45873d;
}

.card-actividad-estatus-border-en-proceso {
    border-bottom: .4rem solid #8f9336;
}

.card-actividad-estatus-border-sin-atender {
    border-bottom: .4rem solid #812020;
}

.card-actividad-estatus-icon {
    display: flex;
    justify-content: center;
}

.card-actividad-estatus-icon img {
    width: 70%;
}

.card-actividad-estatus p {
    margin: 0;
    padding: .5rem 1rem;

    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 800;
}

.card-actividad-estatus-color-atendido {
    color: #45873d;
}

.card-actividad-estatus-color-en-proceso {
    color: #8f9336;
}

.card-actividad-estatus-color-sin-atender {
    color: #812020;
}

.card-actividad-span {
    text-transform: uppercase;
    font-weight: 700;
}

.actividad-relevante:hover {
    cursor: pointer;
}

/** INICIO COMENTARIOS */
.comentarios {
    padding: 0 1rem;
}

.card-comentario-left {
    display: inline-flex;
    width: 100%;
}

.card-comentario-right {
    display: inline-flex;
    width: 100%;
}

.card-avatar {
    padding: .5rem;
}

.card-avatar img {
    width: 4rem;
    height: 4rem;
}

.card-avatar img {
    width: 4rem;
    height: 4rem;
}

.card-comentario-usuario-left {
    width: 100%;
    padding: .5rem 1rem;
}

.card-comentario-usuario-right {
    width: 100%;
    padding: .5rem 1rem;
}

.card-comentario-usuario-left p {
    margin: 0;
}

.card-comentario-usuario-right p {
    margin: 0;
}

.card-p-comentario-left {
    font-weight: 500;
}

.card-p-comentario-right {
    font-weight: 500;
    text-align: right;
}

.card-p-user-left {
    font-size: 1rem;
    font-weight: 700;
}

.card-p-user-right {
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.line {
    border: .1rem dashed rgb(194, 192, 192);
}

.div-input-button-add-comentario {
    display: flex;
    width: 100%;
}

.div-custom-input-comentario {
    width: 75%;
}

.div-custom-button-send {
    width: 25%;
    display: flex;
}

.titulo-evidencias {
    font-size: 2rem;
    font-weight: 700;
}

.text-descripcion-evidencia {
    font-size: 1.5rem;
}

.text-descripcion-evidencia span {
    font-weight: 600;
}

.link-archivo {
    font-size: 1.5rem;
    font-weight: 600;   
}

.link-archivo:hover {
    cursor: pointer;
    color: #3978d0;
}

.div-boton-nueva-evidencia {
    display: flex;
}



.div-custom-input-caja-filtro
{
    width: 94%;
}

.div-filtrar{
    position: relative;
    background-color: #8c92bc;
    height: 4rem;
    width: 5%;
    @media (max-width: v.$tablet){
        width: 10%;
    }
}
.div-filtrar img{   
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 10%;
    left: 12%;
    @media (max-width: v.$tablet) {
        height: 2rem;
        width: 2rem;
        top: 25%;
        left: 15%;
    }
}


.div-custom-input-caja select{
    width: 90%;
}

.div-custom-input-caja label {
    font-weight: 600;
}

.div-custom-input-caja input {
    height: 4rem;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    background-color: v.$gris_g5;
    border: .1rem solid v.$gris_g3;
}

.div-custom-input-caja textarea {
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
    background-color: v.$gris_g5;
    border: .1rem solid v.$gris_g3;
}

.custom-select {
    height: 4rem;
    font-size: 1.4rem;
    background-color: v.$gris_g5;
    cursor: pointer;
    border: .1rem solid v.$gris_g3;
}

select.minimal {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
  }
  
select.minimal:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

.td-fecha-limite {
    display: flex;
    justify-content: center;
}

.td-fecha-limite p {
    display: flex;
    align-items: center;
}

.circulo-alerta {
    width: 2.5rem;
    height: 2.5rem;
}

.circulo-alerta-footer {
    width: 2rem;
    height: 2rem;
}

.footer-circulo-alertas {
    display: flex;
    padding-top: .5rem;
}

.footer-circulo-alertas p {
    margin: 0;
}
/*SLIDER*/

.contenerdor-slide { 
    min-height: 10rem;
    padding: 5rem;
    margin: 3rem;
 } 

.swiper-slide img {
max-width: 90%;
}
 
.div-texto-nota {

}

.p-texto-nota span {
    font-weight: 700;
}

.card-icon-estatus {
    font-size: 7rem;
}
.botones-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    cursor: pointer;
    transition: .5s all ease-in-out;
}